body{
    background: rgb(204, 204, 204);
}

.myNav{
    background:rgba(0, 0, 0, 0.959);
}


.options{
    position: relative;
    top:200px;
    padding:80px 0;
    width:60%;
    background: white;
    list-style-type: none;
}

.options li{
    width:100%;
    padding:10px;
    font-size:28px;
    text-align: center;

}

.options li a{
    color:black;
}

.options li a:hover{
    color:rgb(31, 148, 194);
    text-decoration: none;
}